
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@{ 
    for(int i = 0; i < 30; i++)
    {
        string but = "Button ";
        <button style="color:brown;position:center;">@but+i</button><br>
    }

}
