
@{
    ViewBag.Title = "List1";
}

<h2>List1</h2>
<p style="color:blue;text-align:center;text-shadow: 3px 2px; text-indent:20px">
    This is the wiews From ~views/process/process list wiew.cshtml
</p>

